# maven ignore
target/
#*.jar
*.war
*.zip
*.tar
*.tar.gz
*.class
.flattened-pom.xml
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
buildNumber.properties
.mvn/timing.properties

# eclipse ignore
.settings/
.project
.classpath
.metadata
.svn

# idea ignore
.idea/
*.ipr
*.iml
*.iws

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp
