<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yanxue.dao.SpeakDao">

    <insert id="add" parameterType="com.yanxue.entity.Speak">
        insert into tb_speak(
            speak_id,ip,student_number,name,speak,lecture_id,create_time)
        values(#{speak_id},#{ip},#{student_number},#{name},#{speak},#{lecture_id},now())
    </insert>
    
    <update id="update" parameterType="com.yanxue.entity.Speak">
        update tb_speak set speak =#{speak},name =#{name} where speak_id =#{speak_id}
    </update>
    
    <select id="checkStudent" resultType="com.yanxue.entity.Speak">
        select speak_id from tb_speak where student_number = #{0} and lecture_id = #{1}
    </select>
    
    <select id="getStatus" resultType="string">
        select status from tb_lecture where id =#{0} 
    </select>
    
    <select id="getParty" resultType="com.yanxue.entity.Party">
        select * from student_master where student_number =#{0} 
    </select>
    
    <select id="checkIp" resultType="com.yanxue.entity.Speak">
        select * from tb_speak where ip = #{0} and lecture_id = #{1}
    </select>
    
    <update id="updateIp" parameterType="com.yanxue.entity.Speak">
        update tb_speak set student_number =#{student_number},name =#{name},speak =#{speak} where ip =#{ip} and lecture_id =#{lecture_id}
    </update>
    
    <select id="getSpeakData" resultType="com.yanxue.entity.Speak">
        select * from tb_speak where lecture_id = #{0} and status = 0
    </select>
    
    <select id="getSpeakData_1" resultType="com.yanxue.entity.Speak">
        select * from tb_speak where lecture_id = #{0} and status = 1
    </select>
    
    <update id="updateSpeakDataStatus" parameterType="com.yanxue.entity.Speak">
        update tb_speak set status = 1 where lecture_id =#{0}
    </update>
    
    
    
    
    
    
    
    


	<select id="getStudents" resultType="com.yanxue.entity.Student">
		select * from tb_student where lecture_id =#{0} 
	</select>
	<select id="getStudentsCount" resultType="int">
		select count(0) from tb_student where lecture_id =#{0} 
	</select>
	<select id="getAwardStudents" resultType="com.yanxue.entity.Student">
		select * from tb_student where id in (select student_id from tb_award where lecture_id = #{0})
	</select>
	<select id="getAwardStudentsCount" resultType="int">
		select count(0) from tb_student where id in (select student_id from tb_award where lecture_id = #{0})
	</select>
	<select id="getIntentionStudents" resultType="com.yanxue.entity.Student">
		select * from tb_student where lecture_id =#{0}  and intention = '1'
 	</select>
 	<select id="getIntentionStudentsCount" resultType="int">
		select count(0) from tb_student where lecture_id =#{0} and intention = '1'
	</select>
 	
 	<select id="getNewStudents" resultType="com.yanxue.entity.Student">
 		select * from tb_student where lecture_id = #{0} 
 	</select>
 	<insert id="addAward">
 		insert into tb_award values(#{0},#{1},#{2})
 	</insert>
</mapper>