<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.yanxue.dao.StudentDao">

    <select id="getStatus" resultType="com.yanxue.entity.Lecture">
        select * from tb_lecture where id =#{0} 
    </select>
    
    <select id="getCheck" resultType="com.yanxue.entity.Check">
        select * from tb_check where lecture_id =#{0} 
    </select>
    
    <select id="getSpeak" resultType="com.yanxue.entity.Speak">
        select * from tb_speak where lecture_id =#{0} 
    </select>
    
    <select id="getParty" resultType="com.yanxue.entity.Party">
        select * from student_master
    </select>
    
    <select id="getActivity" resultType="String">
        select activity from tb_lecture where id =#{0} 
    </select>
    
    <select id="getNewStudents" resultType="com.yanxue.entity.Student">
        select * from tb_student where lecture_id = #{0} 
    </select>
    
    
    
    
    
    


	<select id="getStudents" resultType="com.yanxue.entity.Student">
		select * from tb_student where lecture_id =#{0} 
	</select>
	<select id="getStudentsCount" resultType="int">
		select count(0) from tb_student where lecture_id =#{0} 
	</select>
	<select id="getAwardStudents" resultType="com.yanxue.entity.Student">
		select * from tb_student where id in (select student_id from tb_award where lecture_id = #{0})
	</select>
	<select id="getAwardStudentsCount" resultType="int">
		select count(0) from tb_student where id in (select student_id from tb_award where lecture_id = #{0})
	</select>
	<select id="getIntentionStudents" resultType="com.yanxue.entity.Student">
		select * from tb_student where lecture_id =#{0}  and intention = '1'
 	</select>
 	<select id="getIntentionStudentsCount" resultType="int">
		select count(0) from tb_student where lecture_id =#{0} and intention = '1'
	</select>
 	<insert id="add" parameterType="com.yanxue.entity.Student">
 		insert into tb_student(
 			id,name,academy,major,phone,qq,lecture_id,intention,lession,create_time)
 		values(#{id},#{name},#{academy},#{major},#{phone},
 			   #{qq},#{lecture_id},#{intention},#{lession},now())
 	</insert>
 	<select id="checkStudent" resultType="com.yanxue.entity.Student">
 		select name from tb_student where phone = #{0} and lecture_id = #{1}
 	</select>
 	
 	<insert id="addAward">
 		insert into tb_award values(#{0},#{1},#{2})
 	</insert>
</mapper>